.title-component h1 {
    color: gray;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 8em;
    opacity: .1;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
}

.title-component p {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}
